<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
   
	<context:component-scan base-package="com.confidant" />
    <mvc:annotation-driven/>
	<context:property-placeholder location="classpath:config.properties" />
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/images/**" location="/images/" />
    <mvc:resources mapping="/fonts/**" location="/fonts/" />
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 需拦截的地址 -->
            <mvc:mapping path="/member/*" />
            <!-- 需排除拦截的地址 -->
            <mvc:exclude-mapping path="/member/login"/>
            <mvc:exclude-mapping path="/member/checkAccount"/>
            <mvc:exclude-mapping path="/member/save"/>
            <mvc:exclude-mapping path="/member/login_check"/>
            <mvc:exclude-mapping path="/member/reg"/>
            <bean class="com.confidant.interceptor.SessionInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="contentType" value="text/html; charset=utf-8"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${jdbc.url}" />
        <property name="driverClass" value="${jdbc.driverClassName}" />
        <property name="user" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
        <property name="maxPoolSize" value="20" />
        <property name="minPoolSize" value="1" />
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.xml" />
    </bean>

    <bean id="baseSqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory" />
    </bean>

</beans>